@font-face{
	font-family:"Cinzel-Regular";
	src: url('Fonts/Cinzel-Regular.ttf'); 
}
@font-face{
	font-family:"Cinzel-Black";
	src: url('Fonts/Cinzel-Black.ttf');
}
@font-face{
	font-family:"Cinzel-Bold";
	src: url('Fonts/Cinzel-Bold.ttf');
}