*{
	margin:0;
	padding:0;
}
div#header{
	margin: 0 900px;
}
div#header h1{
	font-family: "Cinzel-Regular";
	font-size: 50px;
	padding-top: 50px;
}
div#header img{
	width: 150px;
	height: 150px;
	float: left;
}
.clear{
	clear:both;
}
#navbar{
	padding-left:50px;

}
#navbar{
	width: 100%;
	background: #4E342E;
}
 #navbar .nav_ul li{
 	list-style-type: none;
 	padding-left: 200px;
 	float: left;
 }
 #navbar .nav_ul li a{
 	color: #FFF;
 	text-decoration: none;  /*"A" tag nane yae thar thae underline ko phyote*/
 	padding: 30px 60px;
 	display: block;
 	text-transform: uppercase;	/*change text*/
 	font-family: Cinzel-Bold;
 }

#navbar .nav_ul li a:hover, .active{
	background-color: #5D4037;
}

div#slider img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}
div.quote{
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	top: 40%;
	left: 32%;
	padding: 30px;
	font-family: Myanmar3,Yunghkio;
}
div.header{
	/*margin:0 500px;*/
	text-align: center;
	padding: 50px;
	width: 40%;
	height: 100px;

}
div#photo{
	padding-left: 720px;
}

div#photo1{
width: 300px;
height: 200px;
float: left;
text-align:center;	
}
div#photo2{
width: 300px;
height: 200px;
float: left;
text-align:center;	
}
div#photo3{
width: 300px;
height: 200px;
float: left;
text-align:center;	
}
div.header2{
	text-align: center;
	padding: 60px;
	width: 50%;

}
div.header3{
	float: left;
	padding-left: 70px;
	margin-right: 50px;
}

div.header3.header4{
	
	float: left;
	/*padding-left: 1000px;*/
	margin-left: 300px;


	
}
div.header5{
	margin-top:20px;
	float:left;
	text-align: center;
	padding: 30px;
	width: 50%;

}
div.header6{
	padding-left: 300px;
	margin-left: 400px;
	margin-right: 400px
	margin-top: 5px;
/*	margin-bottom: 200px;*/
	padding-top: 10px;
	margin-bottom: 300px;

}
div.column{
float:left;
	width: 15%;
	padding-left: 180px;

}
div.header7{
	margin-top: 50px;
	text-align: center;
	margin-left: 900px;
	margin-right: 900px;

}

div.last_photo{
	float:left;
	margin-right: 100px;
	padding-left:300px;

}
div.daily_menu{
    float-right: 100px;
    padding-left: 350px;
    padding-top: 30px;   
}


